

#rating-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(223, 238, 243);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 13px;
  height: 1.2rem;
  width: fit-content;
}

.reviewer-profile-icon {
  font-size: 1.2rem;
  margin-left: 10px;
}

span {
  margin-left: 5px;
}

#review-text-display {
  margin-left: 10px;
  width: fit-content;
  max-width: 500px;
  margin-bottom: 50px;
}

#delete-review {
  margin-left: 10px;
  height: 20px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(252, 105, 105);
  color: rgb(252, 105, 105);
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
}

#delete-review:hover {color: white;
background-color: rgb(252, 105, 105);
cursor: pointer;}

#review-author {
  margin-bottom: 60px;
  font-weight: bold;
}
