/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: rgb(29, 36, 39);
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: 2px solid lightblue;
}
