#review-form {
  border: 1px solid gray;
  width: 200px;
}

#review-text {
  width: 100%;
  height: 100px;
}

#rating-1,
#rating-2,
#rating-3,
#rating-4,
#rating-5,
label {
  display: inline;
}


.error {
  color: red;
}
