* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  border: 1px solid gray;
  width: 200px;
  display: flex;
}

input {
  color: red;
  display: inline;
  width: 10px !important;
}

.error {
  color: red;
}
